{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
